body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-from {
  display: inline-block;
  margin-right: 10px;
}

.delete-from button {
  color: red;
}

li {
  list-style: none;
}
